.mainMenuLink {
    position: relative;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s ease;
}

.mainMenuLink.active {
    font-weight: 600;
    color: white;
}

.mainMenuLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3em;
    width: 0;
    height: 0.08em;
    background-color: white;
    transition: width 0.3s ease;
}

.mainMenuLink:hover {
    color: white;
}

.mainMenuLink:hover::after {
    width: 100%;
}

.mainMenuLink.active::after {
    width: 100%;
}